@font-face {
	font-family: 'Vazir';
	src: url( './Vazir.woff2' ) format( 'woff2' );
	font-weight: normal;
}
@font-face {
	font-family: 'Vazir';
	src: url( './Vazir-Bold.woff2' ) format( 'woff2' );
	font-weight: bold;
}

body, .book-summary {
	font-family: 'Vazir', sans-serif;
}

code, pre {
	direction: ltr !important;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}